<h1 mat-dialog-title>Change User Credential</h1>

<div mat-dialog-content><br/>
    <form [formGroup]="credentialForm">
        <p *ngIf="!user.isAdmin">
            <mat-form-field class="formField" appearance="outline">
                <mat-label>Old User Name</mat-label>
                <input formControlName="oldUserName" matInput placeholder="Old UserName">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="formField" appearance="outline">
                <mat-label>User Name</mat-label>
                <input formControlName="userName" matInput placeholder="UserName">
            </mat-form-field>
        </p>

        <p *ngIf="!user.isAdmin">
            <mat-form-field class="formField" appearance="outline">
                <mat-label>Enter your old password</mat-label>
                <input formControlName="oldPassword" matInput [type]="hide ? 'password' : 'text'">
              </mat-form-field> 
          </p>

        <p>
          <mat-form-field class="formField" appearance="outline">
              <mat-label>Enter your password</mat-label>
              <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field> 
        </p>        
    </form>     
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="changeCredential()" mat-dialog-close>Change</button>
</div>