.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  } 

.formField {
    width: 310px;
  }

.f-w-i{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mb-1{
    margin-bottom: 15px;
}